.background {
    z-index: -1;
    background-image: url(greek-vase.png);
    width: 100%;
    height:10200px;
    position: fixed;
}

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-style: solid none none none;
    border-color: #4aaaa5;
    border-width: 5px;
    left: -10px;
    margin-right: -10px;

}

h2 {
    color: #4aaaa5;
    /* position: relative; */
    top: 60px;
    /* width: 12%; */
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    border-style: none none solid none;
    border-width: 1px;
    border-color: lightgray;

}

#bacon {
    float:left;
    top: 30px;
    width: 40%;
    left: -30px;
    height: 50%;
}

#content {
    float: left;
    background: white;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    width: 920px;
    top: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    padding: 20px;
    line-height: 1.8;
    margin-left: 230px;
    /* margin-top: 20px; */
    
}

.wrapper {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 20px;
}

.row1{
    margin-left: 5px;
    width: 300px;
}

.row2{
    width: 650px;
    margin-left: -10px;
}

#dayplanner {
    height: 175px;
    /* width: 200px; */
}

#easicuisi{
    height: 175px;
    /* width: 200px; */
}

#github {
    height: 175px;
    /* width: 200px; */
}

#codequiz {
    height: 175px;
    /* width: 200px; */
}

#notetaker {
    height: 175px;
}

#developerprofile{
    height: 175px;
}

.contactme{
    text-align: center;
}

.contact{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 300px;
    text-align: center;
    margin-left: 550px;
    margin-top: 150px;
    font-size: 20px;
}